/* Form Styling */
#register-form {
    max-width: 600px;
    margin: 30px auto;
    background-color: #df2424;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(162, 41, 41, 0.1);
}

#register-form .form-group {
    margin-bottom: 15px;
}

#register-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="tel"],
#register-form input[type="date"],
#register-form input[type="file"],
#register-form input[type="password"],
#register-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.3s;
}

#register-form input:focus,
#register-form textarea:focus {
    border-color: #0d6efd;
    outline: none;
}

.checkbox-group,
.radio-group {
    margin-top: 10px;
    margin-bottom: 15px;
}

.checkbox-group input,
.radio-group input {
    margin-right: 6px;
    margin-left: 5px;
}

#register-form input[type="submit"] {
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register-form input[type="submit"]:hover {
    background-color: #0b5ed7;
}

/* Responsive */
@media (max-width: 768px) {
    #register-form {
        padding: 20px;
    }
}

/*----------------- Styling for the login page ------------*/

#login-form {
    max-width: 600px;
    margin: 30px auto;
    background-color: #42b60c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#exampleInputPassword1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 15px;
}

#login-form .form-group label {
    font-weight: 600;
}

#login-form input[type="checkbox"] {
    margin-right: 10px;
    
}

button[type="submit"] {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0b5ed7;
}


/* ------------------------- */

.er{
    color: red;
    background-color: yellow;
}

#isa{
    color: red;
}